// Variables

$gutter: 15px;
$color: #272e62;

// General 

body {

	font-family: SFUIDisplay-Regular;
	font-size: 22px;
	color: #272e62;
	letter-spacing: -0.36px;

	a {
		color: $color;
		font-weight: bold;
	}

	h2 {
		font-size: 24px !important;
	}

	.rep {
		color: #ff2d55;
	}

	.dem {
		color: #007aff;
	}

	.ind {
		color: #949ca1;
	}

}

// Hero Section

.FOAHero {

	margin: 0px auto;
	text-align: center;
	background-color: #fff;

	.FOALogo {
		width: 75%;
		max-width: 120px;
		margin: 0px auto;
		text-align: center;
		margin-bottom: $gutter;
	}

	h1 {
		font-family: SFUIDisplay-Heavy;
		font-size: 40px;
		color: #272e62;
		letter-spacing: -0.65px;
		line-height: 48px;
	}

}

// State List

.FOAState {

	border-top: 1px solid #cdced2;
	text-align: left;
	padding: 0px;
	margin: 0px;

	h2 {
		margin-bottom: $gutter*1.5;
	}

	span.glyphicon.glyphicon-menu-right {
		display: block;
		float: right;
	}

	span {
		display: block;
		float: right;
	}

}

// Footer 

footer {
	margin: 0px auto;
	padding: 0px;
	padding: $gutter;
	text-align: center;
}